# 3️⃣ 신한은행 - 서울시 지역단위 '소득', '지출', '금융자산' 정보

---

## 전체 데이터 파악하기

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 한글 폰트 사용을 위해서 세팅
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NanumBarunpenR.ttf"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [2]:
file_path = './신한은행_서울시 지역단위 \'소득\', \'지출\', \'금융자산\' 정보.csv'
df = pd.read_csv(file_path, encoding='cp949')

print(df.shape)
print(df.info())
df.head()

(1039568, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039568 entries, 0 to 1039567
Data columns (total 20 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   기준년월      1039568 non-null  int64
 1   지역구       1039568 non-null  object
 2   법정동코드     1039568 non-null  int64
 3   법정동       1039568 non-null  object
 4   집계구코드     1039568 non-null  float64
 5   나이        1039568 non-null  int64
 6   성별        1039568 non-null  int64
 7   직장인여부     1039568 non-null  int64
 8   급여입금      1039568 non-null  int64
 9   가맹점매출입금   1039568 non-null  int64
 10  연금입금      1039568 non-null  int64
 11  총소비금액     1039568 non-null  int64
 12  총수신금액     1039568 non-null  int64
 13  예적금금액     1039568 non-null  int64
 14  신탁금액      1039568 non-null  int64
 15  수익증권금액    1039568 non-null  int64
 16  신용대출금액    1039568 non-null  int64
 17  담보대출금액    1039568 non-null  int64
 18  주택대출금액    1039568 non-null  int64
 19  전세자금대출금액  1039568 non-null  int64
dtypes: float64(1), int64(17), object(2)
memory usage: 158.6+ MB
None

,기준년월,지역구,법정동코드,법정동,집계구코드,나이,성별,직장인여부,급여입금,가맹점매출입금,연금입금,총소비금액,총수신금액,예적금금액,신탁금액,수익증권금액,신용대출금액,담보대출금액,주택대출금액,전세자금대출금액
0,201903,강남구,11680101,역삼동,1.120000e+12,2,1,0,0,0,0,2018319,2430312,0,0,0,0,0,0,0
1,201903,강남구,11680101,역삼동,1.120000e+12,2,2,0,0,0,0,2326837,2221251,0,0,0,0,0,0,0
2,201903,강남구,11680101,역삼동,1.120000e+12,3,1,0,0,0,0,1771639,1382057,1841250,0,0,0,0,0,0
3,201903,강남구,11680101,역삼동,1.120000e+12,3,2,0,0,0,0,1745601,2902578,3561440,0,0,0,0,0,0
4,201903,강남구,11680101,역삼동,1.120000e+12,4,1,0,0,0,0,1712433,1746992,8831666,0,0,0,0,0,0

In [3]:
df.columns

Index(['기준년월', '지역구', '법정동코드', '법정동', '집계구코드', '나이', '성별', '직장인여부', '급여입금',
       '가맹점매출입금', '연금입금', '총소비금액', '총수신금액', '예적금금액', '신탁금액', '수익증권금액',
       '신용대출금액', '담보대출금액', '주택대출금액', '전세자금대출금액'],
      dtype='object')

##### 결측 데이터 조회

In [4]:
df.isnull().sum()

기준년월        0
지역구         0
법정동코드       0
법정동         0
집계구코드       0
나이          0
성별          0
직장인여부       0
급여입금        0
가맹점매출입금     0
연금입금        0
총소비금액       0
총수신금액       0
예적금금액       0
신탁금액        0
수익증권금액      0
신용대출금액      0
담보대출금액      0
주택대출금액      0
전세자금대출금액    0
dtype: int64

---

#### 자치구 ('지역구') 확인하기

In [5]:
county = df['지역구'].unique()
print(county)
print(len(county))
#print(df['지역구'].value_counts().sort_index())

['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구']
25

---

In [6]:
# 각 지역구가 맞는지 판별하기 위한 True/False
iscounty = []
for i in range(len(county)):
    iscounty.append(df['지역구'] == county[i])
    
# 각 지역구의 데이터프레임
counties = []
for j in range(25):
    counties.append(df[iscounty[j]])

---

# 🔔 급여입금

### 🟡 자치구 별 직장인 여부 확인하기

In [7]:
# 자치구 별 직장인 여부
isworker = []
i = 0
sum = 0
for i in range(25):
    isworker.append(counties[i]['급여입금'] > 0)

----

### ⚪ 자치구 별 직장인 수 확인하기

In [8]:
# 자치구 별로 급여입금 받는 인원수 확인하기
i = 0
sum = 0
for i in range(25):
    print(county[i] + ' : ' + str(len(counties[i][isworker[i]])))
    sum += len(counties[i][isworker[i]])

print("\n\n총합 : " + str(sum))

강남구 : 3341
강동구 : 1092
강북구 : 187
강서구 : 3573
관악구 : 2712
광진구 : 1466
구로구 : 1345
금천구 : 603
노원구 : 1676
도봉구 : 367
동대문구 : 458
동작구 : 1544
마포구 : 1849
서대문구 : 798
서초구 : 2449
성동구 : 1685
성북구 : 950
송파구 : 2826
양천구 : 1663
영등포구 : 2064
용산구 : 1005
은평구 : 926
종로구 : 438
중구 : 437
중랑구 : 555


총합 : 36009

#### ⚫ 각 자치구 별 직장인 대상 급여입금 평균
** 직장인에 해당하지 않는 사람들은 제외

In [9]:
# 각 자치구 별 직장인 대상 급여입금 평균 
mean = []
i = 0 
for i in range(25):
    mean.append(counties[i][isworker[i]]['급여입금'].mean())
    print(county[i] + ' : '+ str(counties[i][isworker[i]]['급여입금'].mean()))

강남구 : 4397614.1888656095
강동구 : 3586378.6346153845
강북구 : 3506619.497326203
강서구 : 3162227.875174923
관악구 : 2925671.028761062
광진구 : 3398319.8499317872
구로구 : 3261096.3390334575
금천구 : 2893865.8623548923
노원구 : 3170992.937947494
도봉구 : 3057016.514986376
동대문구 : 3139883.1048034932
동작구 : 3362681.577720207
마포구 : 3571755.8761492698
서대문구 : 3522997.9373433585
서초구 : 4434539.155573703
성동구 : 3542189.1080118692
성북구 : 3668333.137894737
송파구 : 3898295.2876857747
양천구 : 4096984.0384846665
영등포구 : 3492250.715116279
용산구 : 3993082.6845771144
은평구 : 3049636.0593952485
종로구 : 3684768.51369863
중구 : 3735404.5926773455
중랑구 : 2878703.6288288287

---

# 🔔 총소비금액

---

In [ ]:
### ⚪각 자치구 별 총소비금액이 0 이하인 데이터 확인하기

In [ ]:
iszero = []
i = 0
sum = 0
for i in range(25):
    iszero.append(counties[i]['총소비금액'] <= 0)
    #print(county[i] + ' : ' + str(len(counties[i][iszero[i]])))
    sum += len(counties[i][iszero[i]])

print("\n\n총합 : " + str(sum))

In [ ]:
#### ⚫ 각 자치구 별 총소비금액 평균 (원본)

In [ ]:
# 각 자치구 별 총소비금액 평균
mean = []
i = 0 
for i in range(25):
    mean.append(counties[i]['총소비금액'].mean())
    print(county[i] + ' : '+ str(counties[i]['총소비금액'].mean()))

---

# 🔔 총수신금액

In [ ]:
### ⚪  '총수신금액'이 0 이하인 데이터 확인하기

In [ ]:
iszero = []
i = 0
sum = 0
for i in range(25):
    iszero.append(counties[i]['총수신금액'] <= 0)
    #print(county[i] + ' : ' + str(len(counties[i][iszero[i]])))
    sum += len(counties[i][iszero[i]])

print("\n\n총합 : " + str(sum))

In [ ]:
#### ⚫ 각 자치구 별 총수신금액

In [ ]:
# 각 자치구 별 총수신금액 평균
mean = []
i = 0 
for i in range(25):
    mean.append(counties[i]['총수신금액'].mean())
    print(county[i] + ' : '+ str(counties[i]['총수신금액'].mean()))

---

# 🔔 예적금금액

In [ ]:
### ⚪ 예적금금액 0 이하인 데이터 확인하기

In [ ]:
iszero = []
i = 0
sum = 0
for i in range(25):
    iszero.append(counties[i]['예적금금액'] <= 0)
    #print(county[i] + ' : ' + str(len(counties[i][iszero[i]])))
    sum += len(counties[i][iszero[i]])

print("\n\n총합 : " + str(sum))

In [ ]:
#### ⚫ 각 자치구 별 예적금금액  (원본)

In [ ]:
# 각 자치구 별 예적금금액 평균
mean = []
i = 0 
for i in range(25):
    mean.append(counties[i]['예적금금액'].mean())
    print(county[i] + ' : '+ str(counties[i]['예적금금액'].mean()))

#print(mean)

---

# 🔔 신용대출금액

In [ ]:
### ⚪ 신용대출금액 0 이하인 데이터 확인하기

In [ ]:
iszero = []
i = 0
sum = 0
for i in range(25):
    iszero.append(counties[i]['신용대출금액'] <= 0)
    #print(county[i] + ' : ' + str(len(counties[i][iszero[i]])))
    sum += len(counties[i][iszero[i]])

print("\n\n총합 : " + str(sum))

In [ ]:
#### ⚫ 각 자치구 별 신용대출금액  (원본)

In [ ]:
# 각 자치구 별 직장인 대상 신용대출금액 평균
mean = []
i = 0 
for i in range(25):
    mean.append(counties[i][isworker[i]]['신용대출금액'].mean())
    print(county[i] + ' : '+ str(counties[i][isworker[i]]['신용대출금액'].mean()))

---

# 🔔 담보대출금액

In [ ]:
### ⚪ 담보대출금액 0 이하인지 확인하기

In [ ]:
iszero = []
i = 0
sum = 0
for i in range(25):
    iszero.append(counties[i]['담보대출금액'] <= 0)
    #print(county[i] + ' : ' + str(len(counties[i][iszero[i]])))
    sum += len(counties[i][iszero[i]])

print("\n\n총합 : " + str(sum))

In [ ]:
#### ⚫ 각 자치구 별 담보대출금액  (원본)

In [ ]:
# 각 자치구 별 직장인 대상 담보대출금액 평균
mean = []
i = 0 
for i in range(25):
    mean.append(counties[i][isworker[i]]['담보대출금액'].mean())
    print(county[i] + ' : '+ str(counties[i][isworker[i]]['담보대출금액'].mean()))

---